<mat-card *ngIf="next==true">
  <p style="font-size: 150%">{{'28'|translate}} </p>
  </mat-card>
<div *ngIf="next==true"><mat-vertical-stepper >
  <mat-step *ngFor="let mountain of mountains" label="({{mountain.no+1}}/25)" [stepControl]="basicFormGroup">
   <form [formGroup]="basicFormGroup">

     <a style="float:left;"><img src="http://172.18.69.107:8080/test/imgstore/{{mountain.img}}" alt="" style="height:320px"/></a>

     <mat-slider formControlName="first" style="height: 320px;float: right"
       class="example-margin"
       [disabled]="disabled"
       [invert]="invert"
       [max]="max"
       [min]="min"
       [step]="step"
       [thumbLabel]="thumbLabel"
       [tickInterval]="tickInterval"
       [(ngModel)]="mountain.guess"
       [vertical]="1">
     </mat-slider>
     <hr>
     <br>
     <button color="primary" mat-button mat-stroked-button>{{'12'|translate}}</button>
     <br>
     <br>
<!--<mat-form-field>-->
<!--     <input formControlName="testName" matInput type="number" placeholder="{{'3'|translate}}" [(ngModel)]="mountain.guess"  required>-->
<!--</mat-form-field>-->
       <button color="primary" mat-button mat-stroked-button>{{mountain.guess}} M</button>
<!--<div >-->
      <!--<input class="slider-wrapper" type="range" name="{{mountain.id}}" min="0" max="9000" value="1000" step="1"  placeholder="Your guess" formControlName="first"-->
              <!--[(ngModel)]="mountain.guess">-->
     <!--<br>-->

<!--</div>-->

     </form>
    <br>
    <button mat-button mat-raised-button color="primary" matStepperNext style="float: right">
     {{'13'|translate}}
    </button>

  </mat-step>

</mat-vertical-stepper>


<mat-card>
  <button  mat-fab style="float: right" (click)="ifFinished()">{{'14'|translate}}</button>
    <p *ngIf="finished==false">{{'30'|translate}}</p>
</mat-card>
</div>
<div *ngIf="next==false" >
  <mat-card>
    <p>{{'16'|translate}}</p>
  </mat-card>

  <table mat-table [dataSource]="dataAll" style="width: 100%" >
    <ng-container matColumnDef="name" style="width: 10%">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'19'|translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="img"  style="width: 10%">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'20'|translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row"> <a><img src="http://172.18.69.107:8080/test/imgstore/{{row.img}}" alt="" style="width:200px"/></a></mat-cell>
    </ng-container>

    <ng-container matColumnDef="altitude" style="width: 10%">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'21'|translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.altitude}} M</mat-cell>
    </ng-container>

    <ng-container matColumnDef="guess" style="width: 10%">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'22'|translate}}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.guess}} M
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="color" style="width: 10%">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'31'|translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!--<button mat-button mat-raised-button style="color: darkgreen" *ngIf="row.color==0">{{'23'|translate}}</button>-->
        <button mat-button mat-raised-button style="color: red" *ngIf="row.color==1">{{row.difference}} M</button>
        <mat-card *ngIf="row.color==0">
          <h2 style="font-size: inherit">{{'23'|translate}}</h2>
          <mat-radio-group class="example-radio-group" [(ngModel)]="row.know">
            <mat-radio-button value="1">{{'11'|translate}}</mat-radio-button>
            <mat-radio-button value="0">{{'18'|translate}}</mat-radio-button>
          </mat-radio-group>

          <!--<div class="example-selected-value">Your knowledge of Mountains is: {{myExpert}}</div>-->
        </mat-card>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="info" >
      <mat-header-cell *matHeaderCellDef fxFlex="1000px" mat-sort-header>{{'25'|translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row" style="overflow: auto;font-size: 80%">{{row.info}}

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="url" style="width: 10%">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'26'|translate}}</mat-header-cell>
      <mat-cell *matCellDef="let row"><a href="{{row.url}}" target="_blank">{{'26'|translate}}</a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name','img','altitude','guess','color','info','url']"></mat-header-row>
    <mat-row *matRowDef="let row; columns:['name','img','altitude','guess','color','info','url']"></mat-row>

  </table>
  <button mat-button mat-raised-button color="primary" (click)="saveKnowledge()" style="float: right" routerLink="/endpage">{{'32'|translate}}</button>

</div>
