<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{'15'|translate}}</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <p>
      {{'17'|translate}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary" (click)="accept()">{{'11'|translate}}</button>
    <button mat-button mat-raised-button (click)="refuse()">{{'18'|translate}}</button>
  </mat-card-actions>
  <p *ngIf="first==true">{{'29'|translate}}</p>
  <mat-card-actions *ngIf="first==true">
    <button mat-button mat-raised-button color="primary" routerLink="/homepage">{{'11'|translate}}</button>
    <button mat-button mat-raised-button (click)="end()" >{{'18'|translate}}</button>
  </mat-card-actions>
  <mat-card *ngIf="ifEnd==true">
    <p >{{'33'|translate}}</p>
  </mat-card>
</mat-card>
